@model Gestion_Produits_MVC.ViewModels.ProduitFamilleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProduitFamilleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProduitId" class="control-label"></label>
                <input asp-for="ProduitId" class="form-control" />
                <span asp-validation-for="ProduitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reference" class="control-label"></label>
                <input asp-for="reference" class="form-control" />
                <span asp-validation-for="reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="designation" class="control-label"></label>
                <input asp-for="designation" class="form-control" />
                <span asp-validation-for="designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="disponible" /> @Html.DisplayNameFor(model => model.disponible)
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FamilleId, "Famille", htmlAttributes: new  {@class = "control-label" })
                <!--    <label asp-for="FamilleId" class="control-label"></label>
                         <input asp-for="FamilleId" class="form-control" /> -->
                <select asp-for="FamilleId" class="form-control" size="1" asp-items="@(new
                    SelectList(Model.Familles,"id","nom"))"></select>

                <span asp-validation-for="FamilleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
